CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wshadow
    - -Wconversion

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
      - modernize-*
